<script lang="ts">
    import {Alert, Badge, Indicator, Listgroup, ListPlaceholder, TabItem, Tabs} from 'flowbite-svelte';
    import Entry from "@/lib/components/entry/Entry.svelte";
    import {sendMessage} from "@/lib/utils/MessagesService";

    async function getData() {
        console.log('getData')
        let withLink = await sendMessage<IEntryData[]>({
            action: "getPagesWithNextPage"
        })
        let withoutLink = await sendMessage<IEntryData[]>({
            action: "getPagesWithoutNextPage"
        })

        console.log('result : ', {
            withLink,
            withoutLink,
        })
        return {
            withLink,
            withoutLink,
        }
    }

    let data = getData()

    function refresh() {
        data = getData()
    }
</script>

<main>
    {#await data}
        <ListPlaceholder />
    {:then data}
        <Tabs style="full" defaultClass="flex rounded-lg divide-x rtl:divide-x-reverse divide-gray-200 dark:divide-gray-700">
            <TabItem class="w-full" open>
                <span slot="title">
                    Newest
                    <Badge rounded class="w-4 h-4 ms-2 p-0 font-semibold text-primary-800 bg-white dark:text-primary-800 dark:bg-white">{data.withLink.length}</Badge>
                </span>
                <Listgroup class="w-full">
                    {#each data.withLink as entry}
                        <Entry {entry} on:remove={refresh}/>
                    {:else}
                        <Alert color="yellow">No page to show, wait for the next chapter</Alert>
                    {/each}
                </Listgroup>
            </TabItem>
            <TabItem class="w-full">
                <span slot="title">
                    Following
                    <Badge rounded class="w-4 h-4 ms-2 p-0 font-semibold text-primary-800 bg-white dark:text-primary-800 dark:bg-white">{data.withoutLink.length}</Badge>
                </span>
                <Listgroup class="w-full">
                    {#each data.withoutLink as entry}
                        <Entry {entry} on:remove={refresh}/>
                    {:else}
                        <Alert color="yellow">You are not following any page, go to the page you want to follow and click on the add button to add it</Alert>
                    {/each}
                </Listgroup>
            </TabItem>
        </Tabs>
    {:catch error}
        <Alert class="!items-start">
          <span slot="icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                  <path fill="none" d="M0 0h24v24H0z"></path>
                  <path d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM11 15H13V17H11V15ZM11 7H13V13H11V7Z"></path>
              </svg>
          </span>
            <p class="font-medium">Something went wrong :</p>
            <ul class="mt-1.5 ms-4 list-disc list-inside">
                <li>{error}</li>
            </ul>
        </Alert>
    {/await}
</main>