<script lang="ts">
    import {Button, Dropdown, DropdownItem, ListgroupItem} from "flowbite-svelte";
    import {sendMessage} from "@/lib/utils/MessagesService";
    import {createEventDispatcher} from "svelte";
    // @ts-ignore
    import { DotsVerticalSolid } from 'flowbite-svelte-icons';

    export let entry: IEntryData
    const dispatch = createEventDispatcher()

    async function handleClick() {
        if (entry.hasNextUrl) {
            browser.tabs.update({ url: entry.nextUrl })
        } else {
            entry = await sendMessage<IEntryData>({
                action: "refreshPage",
                args: [entry]
            })
        }
    }

    async function handleStopFollow() {
        await sendMessage({
            action: "removePage",
            args: [entry]
        })
        dispatch("remove", entry)
    }

    const formatDate = new Intl.RelativeTimeFormat({ style: 'short' })
</script>
<ListgroupItem class="text-base font-semibold flex justify-between flex-nowrap" on:click={handleClick} on:keypress={handleClick} tabindex="0">
    <span class="flex items-center">{ entry.name }</span>
    <span>
        <Button pill={true} class="!p-2" size="xl">
            <DotsVerticalSolid class="w-4 h-4" />
        </Button>
        <Dropdown>
          <DropdownItem>last check : {entry.lastCheck ? formatDate.format(entry.lastCheck.getDate(), "minutes") : "Never"}</DropdownItem>
          <DropdownItem on:click={handleStopFollow}>Stop following this page</DropdownItem>
        </Dropdown>
    </span>
</ListgroupItem>