
.bm-container {
    position: absolute;
    top: 15px;
    right: 15px;
}

.bookmark-mangas {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: cadetblue;
    color: white;
    overflow: hidden;
    border-radius: 15px;
}


.bookmark-mangas.bm-add, .bookmark-mangas.bm-remove {
    cursor: pointer;
}

.bookmark-mangas.bm-conflict {
    cursor: help;
}

.bm-icon {
    width: 24px;
    height: 24px;
}

.bm-content .bm-text {
    white-space: nowrap;
    padding-left: 1rem;
}

.bm-btns {
    margin-top: 0.3rem;
    display: flex;
    justify-content: space-evenly;
}

.bm-btn {
    display: inline-block;
    outline: none;
    cursor: pointer;
    padding: 0 16px;
    background-color: #fff;
    border-radius: 0.25rem;
    border: 1px solid cadetblue;
    color: cadetblue;
    font-size: 13px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
}

.bm-btn:hover {
    background-color: #f4f6f9;
}