@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    min-width: 450px;
    min-height: 100vh;
    padding: 1rem;
}

button[role="tab"] {
    --tw-ring-color: transparent !important;
}