<script lang="ts">
export let type: "add"|"remove"|"conflict" = "add"
export let title: string
</script>

<div {title} class="bookmark-mangas" id="bm-btn" tabindex="0" role="button" class:bm-add={type==="add"} class:bm-remove={type==="remove"} class:bm-conflict={type==="conflict"}>
    <div class="bm-icon">
        <slot name="icon" />
    </div>
    <div class="bm-content">
        <slot name="content" />
    </div>
</div>