<script>
    import Btn from "@/lib/components/Btn.svelte";
</script>

<Btn type="remove" title="Stop following this page">
    <svelte:fragment slot="icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
            <path fill="none" d="M0 0h24v24H0z"></path>
            <path d="M12.4142 5H21C21.5523 5 22 5.44772 22 6V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3H10.4142L12.4142 5ZM4 5V19H20V7H11.5858L9.58579 5H4ZM8 12H16V14H8V12Z"></path>
        </svg>
    </svelte:fragment>
</Btn>